<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.pubtrans.itn.api.repository.AuthenticationRepository">
	
	<insert id="insertMemberLoginLog" parameterType="com.naver.pubtrans.itn.api.vo.auth.input.AuthenticationInputVo">
		INSERT INTO 
			tb_z_svc_member_login_log(user_id, login_success_yn, access_ip) 
		VALUES
			(#{userId}, #{loginSuccessYn}, #{accessIp})
	</insert>
	
	<insert id="insertMemberRefreshTokenInfo" parameterType="com.naver.pubtrans.itn.api.vo.auth.input.AuthenticationInputVo">
		INSERT INTO 
			tb_z_svc_member_token_info(user_id, refresh_token) 
		VALUES
			(#{userId}, #{refreshToken})
	</insert>
	
	<select id="getMemberRefreshTokenInfo" parameterType="com.naver.pubtrans.itn.api.vo.auth.input.AuthenticationInputVo" resultType="com.naver.pubtrans.itn.api.vo.auth.output.AuthenticationOutputVo">
		SELECT
			refresh_token
		FROM	
			tb_z_svc_member_token_info
		WHERE
			refresh_token = #{refreshToken}
	</select>

</mapper>