<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.pubtrans.itn.api.repository.CommonRepository">


	<select id="selectTableSchema" parameterType="string" resultType="com.naver.pubtrans.itn.api.vo.common.SchemaVo">
		SELECT
		     COLUMN_NAME as columnName
			, COLUMN_COMMENT as columnComment
			, IS_NULLABLE as isNullable
			, COLUMN_KEY as columnKey
			, COLUMN_TYPE as columnType
		FROM
		    information_schema.COLUMNS
		WHERE
			TABLE_NAME = #{tableName}
			AND COLUMN_NAME != 'reg_date' AND COLUMN_NAME != 'upd_date'
			AND COLUMN_NAME != 'createdat' AND COLUMN_NAME != 'modifiedat'
			AND COLUMN_NAME != 'create_date' AND COLUMN_NAME != 'update_date'
    </select>

	<select id="selectCityCodeList" resultType="com.naver.pubtrans.itn.api.vo.common.CityCodeVo">
		SELECT
			city_code
			, city_name
			, super_code
			, except_code
			, naver_code
			, do_name
			, abbr_do_name
			, si_name
			, level
		FROM
			tb_city_code
		ORDER BY
			city_name asc
	</select>

	<select id="selectBusProviderList" resultType="com.naver.pubtrans.itn.api.vo.common.BusProviderVo">
		SELECT
			provider_id
			, provider_name
			, city_code_min
			, city_code_max
		FROM
			tb_bus_provider
		ORDER BY
			provider_name asc
	</select>

	<select id="selectAuthorityInfoList" resultType="com.naver.pubtrans.itn.api.vo.member.AuthorityInfoVo">
		SELECT
			info.authority_id
			, info.authority_name
			, info.authority_memo
		FROM
			tb_z_svc_authority_info `info`
	</select>

	<select id="selectBusRouteClassList" resultType="com.naver.pubtrans.itn.api.vo.common.BusRouteClassVo">
		SELECT
			bus_class_id
			, bus_class_name
			, color
			, icon_name
			, sorting_priority
			, city_code
		FROM
			tb_bus_route_class
		ORDER BY
			sorting_priority, bus_class_id
	</select>

	<select id="selectTransportList" resultType="com.naver.pubtrans.itn.api.vo.common.TransportVo">
		SELECT
			tranport_id
			, name
			, station_class
		FROM
			tb_transport
		ORDER BY
			tranport_id
	</select>

</mapper>