<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.pubtrans.itn.api.repository.MemberRepository">

 
    <select id="checkDuplicate" parameterType="String" resultType="int">
    	SELECT
			count(*)
		FROM
			tb_z_svc_member
		WHERE
			user_id = #{userId}
    </select>	
    
    <select id="selectMemberSchema" resultType="com.naver.pubtrans.itn.api.vo.common.SchemaVo">
    	select
		     COLUMN_NAME as columnName
			, COLUMN_COMMENT as columnComment
			, IS_NULLABLE as isNullable
			, COLUMN_KEY as columnKey
			, COLUMN_TYPE as columnType
		from
		    information_schema.COLUMNS
		where
			TABLE_NAME = 'tb_z_svc_member'
    </select>
    
    <select id="selectMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo" resultType="com.naver.pubtrans.itn.api.vo.member.output.MemberOutputVo">
    	SELECT
		    user_id
		    , user_pw
		    , user_name
		    , company
		    , date_format(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date
            , date_format(upd_date, '%Y-%m-%d %H:%i:%s') as upd_date 
		FROM
		    tb_z_svc_member
		WHERE
			user_id = #{userId}
    </select>
    
	<insert id="insertMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberInputVo">
		INSERT INTO 
			tb_z_svc_member(user_id, user_name, user_pw, company) 
		VALUES
			(#{userId}, #{userName}, #{userPw}, #{company})
	</insert>

</mapper>