<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.pubtrans.itn.api.repository.MemberRepository">

 
    <select id="checkDuplicate" parameterType="String" resultType="int">
    	SELECT
			count(*)
		FROM
			tb_z_svc_member
		WHERE
			user_id = #{userId}
    </select>	
    
	<insert id="insertMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberInputVo">
		INSERT INTO 
			tb_z_svc_member(user_id, user_name, encoded_user_pw, company) 
		VALUES
			(#{userId}, #{userName}, #{userPw}, #{company})
	</insert>
    
	<update id="updateMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberInputVo">
		UPDATE
			tb_z_svc_member
		SET
			user_name = #{userName}
			, company = #{company}
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userPw)">
			, encoded_user_pw = #{userPw} 
			</if>
			, upd_date = now()
		WHERE
			user_id = #{userId}
	</update>
    
	<update id="deleteMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo">
		UPDATE
			tb_z_svc_member
		SET
			delete_yn = 'Y'
			, upd_date = now()
		WHERE
			user_id = #{userId}
	</update>
    
	<delete id="deleteTestMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo">
		DELETE FROM
			tb_z_svc_member
		WHERE
			user_id = #{userId}
	</delete>
    
    <select id="getMember" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo" resultType="com.naver.pubtrans.itn.api.vo.member.output.MemberOutputVo">
    	SELECT
		    member.user_id
		    , member.encoded_user_pw
		    , member.user_name
		    , member.company
		    , date_format(member.reg_date, '%Y.%m.%d') as reg_date
            , date_format(member.upd_date, '%Y.%m.%d') as upd_date 
		FROM
		    tb_z_svc_member `member`
		WHERE
			member.user_id = #{userId}
    </select>
	
	<select id="getMemberListTotalCnt" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo" resultType="int">
		SELECT
			count(*) as total_list_cnt
		FROM
			tb_z_svc_member `member`

		<include refid="whereMemberList" />
	</select>

	<select id="selectMemberList" parameterType="com.naver.pubtrans.itn.api.vo.member.input.MemberSearchVo" resultType="com.naver.pubtrans.itn.api.vo.member.output.MemberOutputVo">
		SELECT
			member.user_id
			, member.user_name
			, member.company
			, date_format(member.reg_date, '%Y.%m.%d') as reg_date
		FROM
			tb_z_svc_member `member`

		<include refid="whereMemberList" />

		ORDER BY
			<choose>
				<when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(sortKey)">
					<choose>
						<when test="sortKey.equals('user_name')">
							member.user_name ${sortType}
						</when>
						<when test="sortKey.equals('company')">
							member.company ${sortType}
						</when>
						<when test="sortKey.equals('reg_date')">
							member.reg_date ${sortType}
						</when>
						<otherwise>
							member.reg_date desc
						</otherwise>
					</choose>
				</when>
				<otherwise>
					member.reg_date desc
				</otherwise>
			</choose>

		LIMIT
			#{startPageLimit}, #{endPageLimit}
	</select>


	<sql id="whereMemberList">

		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userName)">
			WHERE member.user_name LIKE CONCAT(#{userName}, '%')
		</if>

	</sql>

</mapper>