<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.pubtrans.itn.api.repository.SampleRepository">


    <select id="selectSampleData" parameterType="com.naver.pubtrans.itn.api.vo.sample.input.SampleSearchVo" resultType="com.naver.pubtrans.itn.api.vo.sample.SampleVo">
    	SELECT
			id, sample_data, reg_date
		FROM
			sample
		WHERE
			id = #{id}
    </select>


    <select id="selectSampleSchema" resultType="com.naver.pubtrans.itn.api.vo.common.SchemaVo">
    	select
		     COLUMN_NAME as columnName
			, COLUMN_COMMENT as columnComment
			, IS_NULLABLE as isNullable
			, COLUMN_KEY as columnKey
			, COLUMN_TYPE as columnType
		from
		    information_schema.COLUMNS
		where
			TABLE_NAME = 'tb_z_svc_member'
    </select>


	<select id="selectSampleListCnt" parameterType="com.naver.pubtrans.itn.api.vo.sample.input.SampleSearchVo" resultType="int">
		SELECT
			count(*) as cnt
		FROM
			sample
		WHERE
			1=1
	</select>

	<select id="selectSampleList" parameterType="com.naver.pubtrans.itn.api.vo.sample.input.SampleSearchVo" resultType="com.naver.pubtrans.itn.api.vo.sample.SampleVo">
		SELECT
			id, sample_data, reg_date
		FROM
			sample
		WHERE
			1=1

		<include refid="whereSampleList" />

		ORDER BY
			id desc
		LIMIT
			#{startLimit}, #{endLimit}
	</select>


	<sql id="whereSampleList">


		<if test="sampleData != null and sampleData != ''">
			AND sample_data LIKE CONCAT('%', #{sampleData}, '%')
		</if>

	</sql>


	<insert id="insertSampleData" parameterType="com.naver.pubtrans.itn.api.vo.sample.input.SampleInputVo">
		INSERT INTO sample(sample_data, reg_date) VALUES(#{sampleData}, now())
	</insert>

	<update id="updateSampleData" parameterType="com.naver.pubtrans.itn.api.vo.sample.input.SampleInputVo">
		UPDATE
			sample
		SET
			sample_data = #{sampleData}
			, reg_date = now()
		WHERE
			id = #{id}
	</update>

</mapper>